<h3>Your cart content...</h3>
<div class="table-responsive">
  <table class="table table-striped table-hover table-borderd">
    <thead>
      <tr>
        <th>Sl No</th>
        <th>Description</th>
        <th>Quantity per unit</th>
        <th>Unit Price</th>
        <th>Quantity</th>
        <th>Discount</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let li of cs.cart; index as i">
      <td>{{ i + 1 }}</td>
      <td>{{ li.product.description }}</td>
      <td>{{ li.product.quantity_per_unit }}</td>
      <td>{{ li.product.unit_price | currency: "INR" }}</td>
      <td>
        <mb-add-to-cart-button [product]="li.product"></mb-add-to-cart-button>
      </td>
      <td>{{ li.product.discount }}%</td>
      <td>{{ amount(li) | currency: "INR" }}</td>
    </tr> -->
      <tr *ngFor="let li of cs.cart; index as i">
        <td>{{ i + 1 }}</td>
        <td>{{ li.product.description }}</td>
        <td>{{ li.product.quantity_per_unit }}</td>
        <td>{{ li.product.unit_price | currency: "INR" }}</td>
        <td>
          <mb-add-to-cart-button [product]="li.product"></mb-add-to-cart-button>
        </td>
        <td>{{ li.product.discount }}%</td>
        <td>{{ li | totalAmount | currency: "INR" }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <td colspan="6" class="text-right">Total:</td>
        <td class="text-right">{{ cs.cartTotal | currency: "INR" }}</td>
      </tr>
    </tfoot>
  </table>
</div>
<button class="btn btn-primary" (click)="placeOrder()">Place order</button>
